/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2196F3;
  --alt-color: #1787e0;
  --text-color: #777;
  --text-line-height: 1.7;
  --section-background: #ececec;
  --main-section-padding: 100px;
  --transition-time: 0.3s;
}

html {

  scroll-behavior: smooth;
}

body {

  font-family: 'Cairo', sans-serif;

  overflow: overlay;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {

  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 10px;
}

a {

  text-decoration: none;
}

ul {

  list-style: none;
}


/* End Global Rules */

/* Start Components */


/* End Components */


/* Start Container */

.container {

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Small Screens */
@media (min-width: 768px) {

  .container {

    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {

  .container {

    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {

  .container {

    width: 1170px;
  }
}

/* End Container */

/* Start Header */

.header {
  box-shadow: 0 0 10px #ddd;
}

.header .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header .container .logo {
  color: var(--main-color);
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 767px) {

  .header .container .logo {

    width: 100%;
    height: 50px;
  }
}

.header .container .logo:hover {

  color: var(--alt-color);
}

.header .container .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {

  .header .container .nav-links {

    width: 100%;
  }
}

.header .container .nav-links>li>a {
  color: black;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  position: relative;
  transition: var(--transition-time);
  overflow: hidden;
}

@media (max-width: 767px) {

  .header .container .nav-links>li>a {

    height: 40px;
    padding: 10px;
  }
}

.header .container .nav-links>li>a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}

.header .container .nav-links>li>a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -100%;
  height: 3px;
  background-color: var(--main-color);
  width: 100%;
  transition: var(--transition-time);
}

.header .container .nav-links>li>a:hover::before {

  left: 0;
}

/* Start Mega-Menu */

.header .mega-menu {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  display: flex;
  gap: 40px;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  padding: 30px;
  z-index: -3;
  opacity: 0;
  transition: top var(--transition-time), opacity var(--transition-time);
}

.header .nav-links .show-mega:hover .mega-menu {

  opacity: 1;
  top: 100%;
  z-index: 100;
}

@media (max-width:991px) {

  .header .mega-menu {

    flex-direction: column;
    width: 100%;
    gap: 0;
    top: calc(100% + 30px);
  }
}

.header .mega-menu .image img {
  max-width: 100%;
}

@media (max-width:991px) {

  .header .mega-menu .image {
    display: none;
  }
}

.header .mega-menu .mega-links {
  flex: 1;
  min-width: 200px;
}

.header .mega-menu .mega-links li {
  position: relative;
  transition: var(--transition-time);

}

.header .mega-menu .mega-links li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -4;
  height: 100%;
  width: 0;
  background-color: #fafafa;
  transition: var(--transition-time);
}

.header .mega-menu .mega-links li:hover::before {

  width: 100%;
}

.header .mega-menu .mega-links li a {
  display: block;
  padding: 15px;
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 1px solid #e9e6e6;
}

.header .mega-menu .mega-links li:hover a {

  color: rgb(230, 87, 87);
}


@media (max-width:991px) {

  .header .mega-menu .mega-links li a {

    padding: 10px;
  }

  .header .mega-menu .mega-links:nth-of-type(2) li:last-child a {

    border-bottom: none;
  }

}

.header .mega-menu .mega-links li a i {
  display: inline-block;
  margin-right: 10px;
  width: 1rem;
}

/* End Mega-Menu */

/* End Header */